@media screen and (max-width: 992px) {
  .create {
    margin-top: 20px !important;
  }
  .shareLabel {
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .createImage {
    width: 100px !important;
  }
  .info {
    width: 100% !important;
  }
}
.createMain {
  overflow-x: hidden;
}
